body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  width: 500px;
}

/*
고급 선택자 : 태그명[속성="속성값"] : 선택된 태그들 중에서 지정된 속성이 속성값으로 설정된 요소만 선택하는 선택자
*/

input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #5cd85c;    /* 대표적인 버튼의 main 컬러에 해당 */
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;  /* 대표적인 버튼의 secondary 컬러에 해당 */
}

ul {
  list-style: none;
  padding: 0;
}